absl-py
aiohttp
aiosignal
altai    
annotated-types
anyio
astor
asttokens
astunparse
async-timeout
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
contourpy
cycler
dataclasses-json
decorator
distro
duckdb
exceptiongroup
executing
Faker 
Flask
flatbuffers
fonttools
frozenlist
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h11
h5py
httpcore
httpx
idna
importlib-metadata
ipython
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
kiwisolver
langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langsmith
libclang
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
ml-dtypes
multidict
mypy-extensions
numpy
oauthlib
openai
opt-einsum
orjson
packaging
pandas
pandasai
parso
pillow
pip
plotly
polars
prompt-toolkit
protobuf
pure-eval
pyarrow
pyasn1
pyasn1-modules
pydantic
pydantic_core
pydeck
Pygments
pyparsing
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
setuptools
six
smmap
sniffio
SQLAlchemy
stack-data
streamlit
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tiktoken
toml
toolz
tornado
tqdm
traitlets
typing_extensions
typing-inspect
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
Werkzeug
wheel
wrapt
yarl
zipp
